.carousel__prev svg,
.carousel__next svg {
  display: none;
}

.carousel__prev,
.carousel__next {
  width: 40px;
  height: 80px;
}

.carousel__prev {
  background: url("/components/carousel/left.png");
}

.carousel__next {
  background: url("/components/carousel/right.png");
}

.carousel__pagination-button::after {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  @apply bg-gray-500;
}

.carousel__pagination-button--active::after {
  width: 9px;
  height: 9px;
  @apply bg-blue-500;
  margin-top: -1px;
}


body {
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

* {
  line-height: 120%;
}

#__nuxt {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  vertical-align: middle;
}

.carousel__pagination {
  margin: 0;
}